name: Question-Answer based RAG System 

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ] 

jobs:
    build_and_test:
        name: Build and Test
        runs-on: ubuntu-latest 

        env:
            GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}

        steps:
          - name: checkout repository 
            uses: actions/checkout@v3

          - name: set up python environment
            uses: actions/setup-python@v4 
            with:
                python-version: "3.13.2" 

          - name: Install dependencies 
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt 

          - name: Check python syntax 
            run: | 
              python -m compileall


    docker_build_and_push:
        name: Build & Push Docker  
        runs-on: ubuntu-latest 
        needs: build_and_test 

        steps:
          - name: Checkout
            uses: actions/checkout@v3 

          - name: Log in to DockerHub 
            uses: docker/login-action@v2
            with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

          - name: Build and Push Docker Image 
            uses: docker/build-push-action@v4 
            with:
                context: .
                push: true 
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/rag-app:latest

    deploy_on_render:
        name: Deploy on Render
        runs-on: ubuntu-latest 
        needs: docker_build_and_push

        steps:
          - name: Deploy on Render
            run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
            